<form action="/add-location" method="post">
    <input type="text"  name="location" class="" placeholder="" area-label="">
    <input type="text" name="a" class="" placeholder="" area-label="">
    <input type="text" name="" class="" placeholder="" area-label="">
    <input type="text" name="" class="" placeholder="" area-label="">
    <input type="text" name="" class="" placeholder="" area-label="">
    <input type="email" name="" class="" placeholder="" area-label="">
    <input type="submit" name="" class="" placeholder="" area-label="">
</form>